/* font */
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

body {
	font-family: 'Scada', sans-serif;
}

/* table */
td {
	text-align: center;
	vertical-align: middle;
}

/* align */
#title,
#description {
	text-align: center;
}

#description,
#title,
hr {
	margin-bottom: 0;
}

#footer {
	display: flex;
	justify-content: space-between;
}

#footer > p {
	text-align: right;
}

/* other */
#title > a:hover {
	text-decoration: none;
}