/* font */
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
body {
	font-family: 'Scada', sans-serif;
}

/* table */
td {
	text-align: center;
	vertical-align: middle;
}

/* align */
#title {
	text-align: center;
}

#copyright {
	text-align: right;
}