/* font */
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

body {
	font-family: 'Scada', sans-serif;
}

/* table */
td {
	text-align: center;
	vertical-align: middle;
}

/* align */
#title,
#description {
	text-align: center;
}

#title {
	margin-bottom: 0;
}

#footer {
	display: flex;
	justify-content: space-between;
}

/* misc. */
a[href="./index.html"]:hover {
	text-decoration: none;
}