//- mixins
include mixins

//- html
doctype html
//
// Source: https://github.com/gdz9/gdz9.github.io/blob/main/src/index.pug
//
- let description = 'Колекція ГДЗ джерел (9 клас)';
html
  head
    meta(name='author' content='gdz9')
    meta(name='description' content=`${description} — gdz9`)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='./favicon.png')
    title gdz9 - ГДЗ джерела
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
    link(rel='stylesheet' href='./styles.css')
    script(defer src='./main.js')
  body
    // title
    h1
      p#title
        a(href='./funny/') gdz9
    p#description= description
    br
    // download & new tab
    #panel
      div
        // download
        p(align='center')
          | Пакет усіх підручників (PDF)
          br
          a(href='https://drive.google.com/file/d/1lIqegb46nSO3kIdbHnbDNL-Zd4UJJvEG/view' target='_blank') Підручники.zip
      div
        // new tab
        p(align='center')
          input#new-tab-checkbox(type='checkbox' checked onchange="on_new_tab_checkbox(this)")
          a#new-tab Відкривати нову вкладку
    br
    // list
    table
      -
        let list = [
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/algebra/ister-20173/',
              t: 'Алгебра*'
            },
            {
              u: 'https://vshkole.com/9-klass/reshebniki/algebra/os-ister-2017',
              t: 'Алгебра (vshkole)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/biologija/sobol-20172/',
              t: 'Біологія*'
            },
            {
              u: 'https://shkola.in.ua/2441-hdz-biolohiia-9-klas-sobol-2017.html',
              t: 'Біологія (shkola)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/geometrija/ister-20171/',
              t: 'Геометрія*'
            },
            {
              u: 'https://vshkole.com/9-klass/reshebniki/geometriya/os-ister-2017',
              t: 'Геометрія (vshkole)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/informatika/ryivkind-2017/',
              t: 'Інформатика*'
            },
            {
              u: 'https://vshkole.com/9-klass/reshebniki/informatika/jya-rivkind-ti-lisenko-la-chernikova-vv-shakotko-2017',
              t: 'Інформатика (vshkole)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/istorija_ukrainy/gisem-20176/2-naddnipryanska-ukraina-u-skladi-rosijskoi-imperii/7/',
              t: 'Історія україни*'
            },
            {
              u: 'https://rule.school/9-klas/history-of-ukraine-9/604-gdz-storya-ukrayini-9-klas-pdruchnik-gsem-ov-martinyuk-oo-2017.html',
              t: 'Історія україни (rule.school)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/nemeckij/sotnikova-2017/',
              t: 'Німецька мова*'
            },
            {
              u: 'https://ukrdz.in.ua/nimetska-mova-9-klas-sotnikova-gogolyeva-2017/',
              t: 'Німецька мова (ukrdz)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/pravovedenie/narovlyanskij-2017/',
              t: 'Основи правознавства*'
            },
            {
              u: 'https://12baliv.com.ua/gdz-9-klas-pravoznavstvo-narovlyanskyj-2017',
              t: 'Основи правознавства (12baliv)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/ukrainskij/glazova-2017/',
              t: 'Українська мова*'
            },
            {
              u: 'https://vshkole.com/9-klass/reshebniki/ukrayinska-mova/op-glazova-2017',
              t: 'Українська мова (vshkole)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/fizika/baryahtyar-2017/',
              t: 'Фізика*'
            },
            {
              u: 'https://ukrdz.in.ua/fizika-9-klas-bar-yahtar-dovgij-2017/',
              t: 'Фізика (ukrdz)'
            },
          ],
          [
            {
              u: 'https://shkola.obozrevatel.com/gdz/9klass/himija/yaroshenko-2017/',
              t: 'Хімія*'
            },
            {
              u: 'http://8next.com/9h_ya_u2017.html',
              t: 'Хімія (8next)'
            },
          ],
        ];
      each row in list
        +row(row[0], row[1])
    // footer
    +br(2)
    hr
    div#footer
      p
        a(href='https://github.com/gdz9/gdz9.github.io' target='_blank') GitHub
      p
        | (c) 2022 
        a(href='https://github.com/gdz9' target='_blank') gdz9
        | ,
        br
        | Arseniy Chereda